*{
    margin: 0%;
    padding: 0%;
    font-family: 'circular' !important;
}






/*  MEDIA QUERIES */


    




nav.z-depth-5{
    box-shadow: 0 6px 30px -2px rgba(0, 0, 0, 0.1) !important;
}












a.brand-logo{
    margin-top: -13px !important;
}

nav{
    box-shadow: 0% !important;
    font-family: 'circular';
    font-weight: 100;
}

div#head_banner{
    height: auto;
    padding: 4% 2%;
    box-sizing: border-box !important;

    
}

div#head_banner h1{
    font-family: 'circular';
    font-weight: 700;
    text-transform: capitalize;
}

div#head_banner h6{
    font-family: 'circular';
    margin-bottom: 1.68rem;
    font-weight: 500;
}


div#image1{
    padding: 0% !important;
}

div#text{
    margin-top: 10% !important;
}

a.header_button{
    border-radius: 200px !important;
    width: 150px !important;
}

div h1.center{
    font-family: 'circular';
    font-weight: 700;
    font-size: 400%;
    text-transform: capitalize;
}

.section-mar{
    margin-top: 10rem !important;
}

.section-mar div h1.center{
    margin-bottom: 10rem !important;
}

#card1{
    background-image: url(duotone.png);
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 5%;
    box-sizing: border-box;
    margin-bottom: 5rem;
}


#card1 h4{
    margin-top: 35%;
    font-weight: 700;
}

div.cardbtn-1 a{
    margin-top: 1rem !important;
    width: 50%!important;
    border-radius: 80px !important;
    font-family: 'circular';
    font-weight: 700;
}

#card2{
    
    background: url(planning.png);
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 5%;
    box-sizing: border-box;
    margin-bottom: 5rem;
}

#card2 h4{
    margin-top: 35%;
    font-weight: 700;
}

#card3{
    background: url(coding.png);
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 5%;
    box-sizing: border-box;
    margin-bottom: 5rem;
}

#card3 h4{
    margin-top: 35%;
    font-weight: 700;
}

#card4{
    background: url(creative.png);
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 5%;
    box-sizing: border-box;
   
}






#card4 h4{
    margin-top: 35%;
    font-weight: 700;
}

